name: Create a comment on new issues

on: 
    issues:
        types: [opened]
    workflow_dispatch:

jobs:
  comment-with-actions:
    runs-on: ubuntu-latest
    steps:
        - name: "dump github context"
          env:
            EVENT_JSON: ${{ toJSON(github.event) }}
          run: echo "$EVENT_JSON" | jq .
          shell: bash
