name: Create a comment on new issues

on: 
    issues:
        types: [opened]

jobs:
  comment-with-actions:
    runs-on: ubuntu-latest
    steps:
        - name: "dump github context"
          run: |
            cat <<'EOF' | jq
            ${{ toJSON(github.event) }}
            EOF
          shell: bash
