name: Create a comment on new issues

on: 
    issues:
        types: [opened]
    workflow_dispatch:

jobs:
  comment-with-actions:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
        - name: "dump github context"
          env:
            EVENT_JSON: ${{ toJSON(github.event) }}
          run: echo "$EVENT_JSON" | jq .
          shell: bash
  comment-with-api:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Create a comment with api
        run: |
          gh api -X POST \
          repos/${ORGANIZATION}/${REPOSITORY}/issues/${ISSUES_NUMBER}/comments \
          -f body='Comment but from the API call not action'
        env: 
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN}}
          ORGANIZATION: ${{github.event.repository.owner.login}}
          REPOSITORY: ${{github.event.repository.name}}
          ISSUES_NUMBER: ${{ github.event.issue.number}}